* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
  color: rgb(87, 85, 85);
}
b {
  font-weight: 600;
  color: rgb(80, 80, 80);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
  color: rgb(87, 85, 85);
}